.bgcolor{
    background-color: #4E586E;
    color: #fff;
}
/* }
.sizdef{
    position: absolute;
    width: 244px;
    margin-right: 50px;
height: 204px;
} */
.links{
    margin-right: 30px !important;
    color:  #F54B64;
}


/* Spacing between the cards */
.myCard{
    margin: 0 20px;
}

.spacinglink{
    margin-right: 40px;
}