.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.alignhead{
  text-align: center;
  color: #fff;
  font-family: Open Sans;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mainCard{
  width: 80%;
  margin:50px auto ;
  display: block;
}

button.rec-dot{
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.5);
  /* background-color: #ffffff; */
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}
.lgksPe:hover:enabled, .lgksPe:focus:enabled{
  background-color: #4E586E;
  color: #fff;
}

div .sc-iBPRYJ.bkVSTc.rec.rec-pagination{
  display: hidden;
}